.menuList ul
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;
}
.menuList li
{
    list-style-type: none;
    display: inline;
    padding-right: 30px;
}

.menuList > :last-child
{
    float:right;
    position:absolute;
    right:20px;
}



.loginBody{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginBox {
    max-width:  100%;
    width: 300px
}

.stretch input  {
    width: auto
}


